.square {
    border: solid black 3px;
    width: 400px;
    height: 400px;
    margin: 20px;
}

#squr1 {
    font-size: 70px;
    text-align: center;
}

#squr1 a {
    padding: 40px 0;
    color:green;
}
table, tr, td, th {
    border: solid 2px purple;
    border-collapse: collapse;
}
